@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-white: rgb(252, 252, 252);
    --color-orange: #fb6c06;
    --color-yellow: #f8d102;
    --color-green: #008425;
}

body {
    background-color: var(--color-white);
}

header {
    background: linear-gradient(rgba(255, 145, 66, 0.8), rgba(159, 255, 186, 0.5));
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.nav-text {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: 0.3s;
}

.call-btn button {
    padding: 10px 20px;
    font-size: 16px;
    background: var(--color-green);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

